#sedas-icn{ width: 80px; }
#sedas-icn-big{ width: 250px; }

#overview-block{ width: 350px; }
#content-block{ width: 70%; }

h1, h2, h3, h4{
    color: rgb(82, 113, 255);
}

button{
    color: rgb(82, 113, 255);
    background-color: white;
    border: rgb(82, 113, 255) 2px solid;
}

button.active{
    background-color: rgb(82, 113, 255);
    color: white;
}

button:hover:not(.active){
    color: black;
    border-color: black;
}

html, body{
    margin: 0;
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:not(.codemap){
    background: url("../res/sample-plane-background.png") no-repeat right top scroll;
}


a.nav-link{
    font-size: 20px;
    color: rgb(82, 113, 255);
    cursor: pointer;
}

p.nav-text{
    font-size: 20px;
    color: rgb(82, 113, 255);
}

i{
    font-size: 20px;
    margin-right: 15px;
}

.active a.nav-link{
    color: black;
}

a.navbar-brand{
    cursor: default;
}

.navbar-toggler{
    border-radius: 3px;
    border: 2px solid #E8E8E8;
}

.navbar-toggler i{
    color: rgb(82, 113, 255);
}

.rotate-90 {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.rotate-neg-90 {
    transform: rotate(-0deg); /*WHAT*/
    transition: transform 0.3s ease;
}

.thumbnail img {
    max-width: 30%;
    max-height: 30%;

    /* 'contain': Fits the whole image inside the box (best for icons).
        'cover': Fills the box, but might crop parts of the image.
    */
    object-fit: contain;
}

.thumbnail img[has-icn-text="true"]{
    max-height: 40px;
    width: auto;
}

.thumbnail span{
    display: inline-block;
    color: black;
    font-size: calc(6px + 0.5vw);
    white-space: nowrap;
    margin-left: calc(-4px + 0.01vw);
}

.icon-block a, .icon-block a:hover {
    color: inherit;
    text-decoration: none;
}